.App {
  margin: 0 auto;
  background-image: linear-gradient(to bottom right, lightblue, lightgreen);
  height: 1000px;
  width: 1000px;
  vertical-align: top;
  display: flex;
  justify-content: center
}
.main-body {
  margin-top: 200px;
  width: 800px;
  background-color: white;
  border-radius: 25px;
  padding : 25px;
}

.btn {
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
